// English text
.en {
    font-family: Helvetica, Arial, serif;
    direction: ltr;
}

// Required label
.control-label.required:after {
    content: "\2a";
    color: #ff2700;
}

// no-wrap tables
.table.table-no-wrap td {
    white-space: nowrap;
}

.d-inline-block {
    display: inline-block !important;
}

.d-flex {
    display: flex !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-grow-1 {
    flex-grow: 1;
}

.text-nowrap {
    white-space: nowrap;
}

.mt-50 {
    margin-top: 50px;
}

.mh-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mh-5 {
    margin-left: 5px;
    margin-right: 5px;
}

.height-full {
    height: 100%;
}

.marquee {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    p {
        display: inline-block;
        margin: 0;
        animation: marquee 45s linear infinite;

        & > span {
            margin-left: 1em;
            margin-right: 1em;
        }
    }
}
@keyframes marquee {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

// Visited button identifier
a.btn.btn-visitable:visited {
    background-color: #81b5d4;
    border-color: #367fa9;
}

// Disabled panel
.panel.disabled {
    opacity: 0.7;
}

// List logs
ul.list-logs {
    font-size: 12px;
    & > li {
        margin-bottom: 6px;
    }
}

.list-group-item.active a {
    color: #fff;

    &:hover {
        color: #ccc;
    }
}

.btn-outline {
    &.btn-primary {
        background-color: transparent;
        color: #0b74cd;
        border-color: #0b74cd;

        &:hover {
            border-color: #0b74cd;
            background-color: #0b74cd30;
        }
    }
    &.btn-danger {
        background-color: transparent;
        color: #d73925;
        border-color: #d73925;

        &:hover {
            border-color: #d73925;
            background-color: #d7392530;
        }
    }
}
