body,
.login-page,
.register-page {
    background-color: #ecf0f4;
}

.login-page,
.register-page {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login-box {
        margin: 0;

        h1 {
            font-weight: bolder;
        }
        .login-box-msg {
            text-align: initial;
        }
    }
}

.main-header .logo {
    font-family: inherit;
}

.main-header #navbar-search-input.form-control {
    border-radius: 17px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(119, 119, 119, 0.35);
}

.content-header > h1 {
    font-weight: bolder;
}

.content {
    @media (min-width: 992px) {
        padding: 30px;
    }
}

.main-footer {
    background: none;
    border: none;
}

.login-box-body,
.register-box-body,
.box,
.small-box,
.info-box,
.panel {
    box-shadow: 10px 10px 10px rgba($color: #000000, $alpha: 0.1);
    border-radius: 7px;

    .panel-heading {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    .panel-footer {
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
    }
}

.box {
    border-top-color: transparent;
}

.info-box-icon {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.box-footer {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 10px 15px 10px 5px;
    min-width: 230px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    @media (min-width: 768px) {
        box-shadow: -2px 2px 5px #ccc;
    }
}

.small-box {
    overflow: hidden;
}

.small-box > .small-box-footer {
    background: none;
}

.iconpicker .iconpicker-item {
    width: 28px;
    height: 28px;
    font-size: 28px;
    padding: 13px;
}

.btn > svg {
    margin-left: 5px;
}

.btn {
    font-weight: 700;
}

.btn.btn-outline {
    color: #495057;
    border-color: rgb(206, 212, 218);

    &:hover {
        border-color: #3c8dbb;
    }
}

#totop {
    border-radius: 50%;
    border: none;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    box-shadow: 0 0 5px #c2c9cf;
    color: #969fa7;
    width: 50px;
    height: 50px;
    padding: 0;

    &:hover {
        box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2), 0 0 5px #c2c9cf;
    }

    &:active {
        box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.3), 0 0 5px #c2c9cf;
    }
}
