input.content {
    min-height: 0 !important;
    padding: 6px 12px !important;
    margin: 0 !important;
}

input.label:empty {
    display: inherit !important;
}

input.label {
    display: inherit !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    font-weight: inherit !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    text-align: inherit !important;
    white-space: inherit !important;
    vertical-align: inherit !important;
    border-radius: inherit !important;
}

.box-show {
    border-radius: 0 !important;
    box-shadow: none !important;
}

a.editable-empty {
    color: #3c8dbc;
    border-bottom: none !important;
}

.form-group > label.asterisk:before {
    content: "* ";
    color: red;
}

.mailbox-attachments li {
    width: 300px !important;
}

.table-has-many .form-group {
    margin-bottom: 0 !important;
}


.table-has-many label.control-label[for=inputError] {
    position: absolute;
    z-index: 100;
    background-color: #fff;
    border: 1px solid #dd4b39;
    border-radius: 5px;
    text-align: left;
    top: 34px;
    padding: 8px;
    line-height: 1.2;
}

.table-has-many label.control-label[for=inputError] + br {
    display: none;
}

#totop {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 20px;
    z-index: 99999;
    outline: none;
    background-color: rgb(34, 45, 50);
    color: rgb(238, 238, 238);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    opacity: 0.5;
}

#totop:hover {
    opacity: 1;
}

.file-input .glyphicon-folder-open {
    display: inline;
}

.select2-container--default.select2-container--focus, .select2-selection.select2-container--focus, .select2-container--default:focus, .select2-selection:focus, .select2-container--default:active, .select2-selection:active {
    outline: none !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
    padding: 6px 12px !important;
    height: 34px !important;
}

.select2-container--default.select2-container--open {
    border-color: #3c8dbc !important;
}

.select2-dropdown {
    border: 1px solid #d2d6de !important;
    border-radius: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3c8dbc !important;
    color: white !important;
}

.select2-results__option {
    padding: 6px 12px !important;
    user-select: none !important;
    -webkit-user-select: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: auto !important;
    margin-top: -4px !important;
}

.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 6px !important;
    padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 28px !important;
    right: 3px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 0 !important;
}

.select2-dropdown .select2-search__field, .select2-search--inline .select2-search__field {
    border: 1px solid #d2d6de;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    outline: none; !important;
    border: 1px solid #3c8dbc !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999 !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd !important;
}

.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #444 !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #d2d6de !important;
    border-radius: 0.25rem !important;
}

.select2-container--default .select2-selection--multiple:focus {
    border-color: #3c8dbc !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #d2d6de !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
    padding: 1px 10px !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px !important;
    color: rgba(255, 255, 255, 0.7) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #fff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px !important;
}

.swal2-popup {
    font-size: 0.6rem !important;
}

.swal2-popup.swal2-toast {
    padding: 1rem 1.5rem !important;
}

.table tbody>tr.selected {
    background-color: #ffffd5 !important;
}
